.register {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: dodgerblue; */
    background: linear-gradient(rgba(280,185,180, 1),rgba(30, 21, 21, 0.1)) ,url('https://images.pexels.com/photos/7031674/pexels-photo-7031674.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    /* overflow: hidden; */
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* align-items: center; */
}

.register__formTitle {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}

.register__form > label {
    color: white;
    letter-spacing: .5px;
    
}

.register__form > input {
    margin: 15px 0;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
}

.register__button {
    margin-top: 15px;
    border: none;
    width: 150px;
    align-self: center;
    padding: 8px 12px;
    letter-spacing: 0.5px;
    border-radius: 6px;
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
        -webkit-box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
        box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
}

.loginButton {
    position: absolute;
    top: 30px;
    right: 30px;
    margin-top: 15px;
    border: none;
    align-self: center;
    padding: 6px 12px;
    letter-spacing: 0.5px;
    background-color: white;
    border-radius: 6px;
    color: dodgerblue;
    cursor: pointer;
    -webkit-box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 12px 13px -8px rgba(0, 0, 0, 0.49);
}

.wrong {
    color: red;
    position: absolute;
    top: 75vh;
}

::-webkit-input-placeholder {
    padding-left: 7px;
}

@media screen and (max-width: 600px) {
    .loginButton {
        top: 60px;
    }
    .register {
        align-items: flex-start;
    }
    .register__form {
        margin-top: 120px;
    }
}
