.topBar {
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 0 20px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 100;
    -webkit-box-shadow: 1px 8px 9px -5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 8px 9px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 8px 9px -5px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
}

.socialMedia__icons {
    width: 25px;
    height: 25;
    cursor: pointer;
    color: rgba(68, 68, 68, 0.867);
}

.topList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 60px;
}
.topList__item {
    font-size: 16px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.867);
    cursor: pointer;
}

.navlinks__container {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    align-items: center;
}

.topBar__left {
    display: flex;
    height: 50px;
    align-items: center;
    flex: 1;
    gap: 8px;
}
.topBar__center {
    width: 100%;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.topBar__right {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.userImage {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.searchIcon {
    width: 25px;
    height: 25px;
    color: rgba(68, 68, 68, 0.867);
    cursor: pointer;
}

.close__icon {
    display: none;
}
.menu__icon {
    display: none;
}
.mobile__dp {
    display: none;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 600px) {
    .mobile__dp {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .topBar {
        padding: 0;
    }
    .topBar__left {
        display: none;
    }
    .navlinks__container {
        background: rgba(0, 0, 0, 0.58);
        backdrop-filter: saturate(180%) blur(7px);
        display: flex;
        flex-direction: column;
        flex: 0;
        justify-content: space-around;
        position: absolute;
        top: 0;
        width: 200px;
        padding: 15px 0;
        transition: transform 0.5s ease-in-out;
        /* backdrop-filter: blur(5px); */
    }
    .topBar__center {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .topList__item {
        text-align: center;
        color: rgba(255, 255, 255, 0.711);
    }
    .topList__item:hover{
        color: rgba(255, 255, 255, 0.474);
    }

    .topBar__right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .topList {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    .topList__item {
        padding: 20px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    }
    .searchIcon {
        display: none;
    }

    .close__icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        /* color: rgba(0, 0, 0, 0.437); */
        color: rgba(255, 255, 255, 0.711);
    }
    .menu__icon {
        display: block;
        margin-left: 10px;
        cursor: pointer;
    }
    #hidden {
        transform: translateX(-300px);
    }
    .topBar__image__container {
        display: none;
    }
    .userImage {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        
    }
}
