.settings {
    display: flex;
}

.settings__wrapper {
    flex: 9;
    margin-left: 20px;
    padding: 20px;
    padding-left: 40px;
}

.settings__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__updateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settings__deleteTitle {
    font-size: 13px;
    color: red;
    cursor: pointer;
    text-shadow: 0.1px 0.1px 1px;
}

.settings__ppImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
}

.settings__pp {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.userIcon {
    margin-left: 15px;
    cursor: pointer;
    color: lightcoral;
}

.settings__form {
    display: flex;
    flex-direction: column;
}

.settings__form > label {
    margin-top: 25px;
    margin-bottom: 8px;
}

.settings__form > input {
    border: none;
    color: gray;
    margin: 10px 0;
    border-radius: 3px;
    border-bottom: 0.8px solid lightgray;
}

.settings__submit {
    border: none;
    width: 150px;
    align-self: center;
    padding: 8px 25px;
    background-color: teal;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .settings__updateTitle {
        font-size: 20px;
    }
    .settings__deleteTitle {
        color: rgba(255, 0, 0, 0.666);
        letter-spacing: 1.07px;
    }
}
